body {
    background-image:url(images/tetrisbackground1.png);
    background-repeat: repeat; /* Repeat both horizontally and vertically */
    background-attachment: fixed; /* Ensures the background stays in place as you scroll */
    background-size: cover; /* Ensures the background does not resize */
    margin: 0px;
    overflow: scroll;
    padding-bottom: 100px;
    
}

.Logo {
    width: 400px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0 auto;
}

.bar {
    text-align: center;
    background: #8BC2A8;
    word-spacing: 55px;
    font-size: large;
    z-index: 100;
    top: 0;
    width: 100%;
    position: sticky;
    line-height: 40px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    
}

.bar a {
color: white;
text-decoration: none;
text-align: center;
display: inline-block;
font-family: 'Archivo Black', sans-serif;

}

.text{
    font-family: "stevie-sans", sans-serif;
font-weight: 600;
font-style: normal;
    font-size: larger;
    color: black;
    /* margin-top: 100px; */
    max-width: 850px;
    text-align: center;
  line-height: 1.5;
}

.left{
display: flex;
justify-content: flex-end;
padding-right: 20px;
margin-top: 30px;
}

.left1{
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    margin-top: 30px;
    }

.right{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    margin-top: 30px;
    }

    .right1{
        display: flex;
        justify-content: flex-start;
        padding-left: 40px;
        margin-top: 30px;
        }

.grid-container{
    display: grid;
    /* grid-template-columns: 1fr 600px 1fr; */
/* margin-bottom: 20px;
padding-bottom: 20px; */
row-gap: 5px;
align-items: center;
margin-top: 0px;
padding-top: 0%;
grid-template-columns: repeat(3, minmax(150px, 1fr));
}

